# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Models
*.pkl
*.joblib

# Data
data/

# Offline packaging
pip_cache/
*.tar.gz

# OS
.DS_Store
Thumbs.db


# Memory
memory.md